In [14]:
import pandas as pd 

import numpy as np

In [15]:
pd.set_option('display.max_rows', None)

In [16]:
#read agricultural.xslx data in dataframe

df = pd.read_excel('/Users/rajatsharma/IBM-CarbonSense-powered-by-Watsonx/Data_processed/industry/agriculture.xlsx')

In [17]:
#list al;l columns in the dataframe
columns = df.columns.tolist()

In [19]:
len(columns)

101

In [7]:
null_percentage = df.isnull().mean() * 100
# print(null_percentage.sort_values(ascending=False))

In [6]:
import pandas as pd

def clean_dataset(df, null_threshold=1.0):

    missing_percent = df.isnull().mean()
    to_drop = missing_percent[missing_percent >= null_threshold].index.tolist()
    df_cleaned = df.drop(columns=to_drop)
    
    df_cleaned.columns = (
        df_cleaned.columns
        .str.strip()
        .str.lower()
        .str.replace(r'[\s\.,]+', '_', regex=True)
    )

    return df_cleaned, to_drop

In [9]:
clean_df, dropped_cols = clean_dataset(df)

In [12]:
import numpy as np


numeric_df = df.select_dtypes(include=[np.number])
corr_matrix = numeric_df.corr().abs()

upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))


to_drop = [column for column in upper.columns if any(upper[column] > 0.9)]
print("Columns to drop due to high correlation:", to_drop)

Columns to drop due to high correlation: ['eco-costs of.3', 'unnamed: 11', 'unnamed: 13', 'unnamed: 14', 'human', 'ecotoxicity', 'metals', 'fossil tra', 'carbon', 'non-renewable.1', 'renewable.2', 'recipe2016', 'recipe', 'recipe.1', 'recipe.2', 'recipe.3', 'recipe.4', 'recipe.5', 'global warming,', 'global warming, .1', 'global warming, .2', 'ozone formation,', 'fine particulate', 'ozone formation, .1', 'terrestrial', 'freshwater', 'marine.1', 'human .1', 'mineral resource', 'fossil resource', 'water consumption,.1', 'water consumption, .1', 'ef 3.1', 'acidification', 'climate change', 'ecotoxicity.1', 'particulate', 'eutrophication,', 'eutrophication, .1', 'eutrophication,.1', 'human toxicity,', 'human toxicity, non-cancer', 'land use.1', 'photochemical ozone formation', 'resource use,', 'resource use,.1', 'water use', 'traci', 'traci.1', 'traci.3', 'traci.4', 'traci.5', 'traci.6', 'traci.7', 'traci.8', 'traci.9', 'carbon.1', 'pollutants', 'water', 'biodiversity.1', 'resources']

In [ ]:
# drop the columns
df.drop(columns=to_drop, inplace=True)

In [13]:
numeric_df.head()

,total,eco-costs of,eco-costs of.1,eco-costs of.2,eco-costs of.3,unnamed: 11,unnamed: 12,unnamed: 13,unnamed: 14,human,...,pollutants,water,biodiversity.1,resources,classyfire,"chemicals,plastics, and wood",note:,unnamed: 107,unnamed: 110,unnamed: 118
0,6.047973,1.364848,1.088735,1.207723,2.386666,0.415316,0.180308,0.521822,0.287599,0.524483,...,2.410833,1.057650,1.088735,1.196057,NaN,NaN,NaN,NaN,NaN,NaN
1,3.038588,0.173343,0.126751,0.043407,2.695087,0.078182,0.041646,0.043864,0.128282,0.000387,...,0.297146,0.123808,0.126751,0.043402,NaN,NaN,NaN,NaN,NaN,NaN
2,12.144220,0.025574,0.061824,0.344770,11.712053,0.030038,0.020856,0.013129,0.002118,0.000309,...,0.084937,0.059364,0.061824,0.344769,NaN,NaN,NaN,NaN,NaN,NaN
3,12.056206,0.024480,0.050508,0.317136,11.664082,0.019530,0.020124,0.012227,0.001963,0.000305,...,0.072592,0.048114,0.050508,0.317135,NaN,NaN,NaN,NaN,NaN,NaN
4,6.028103,0.012240,0.025254,0.158568,5.832041,0.009765,0.010062,0.006114,0.000981,0.000153,...,0.036296,0.024057,0.025254,0.158567,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# remove all columns except carbon and resource use
columns_to_keep = ['.', 'industry', '..2', 'unit', 'process','total', 'carbon', 'ced', 'region']
columns_to_remove = [col for col in columns if col not in columns_to_keep]

In [21]:
# columns_to_remove

In [ ]:
# determine what columns to remove

In [22]:
# drop the columns 
df.drop(columns=columns_to_remove, inplace=True)

In [23]:
df.head()

,.,industry,..2,unit,process,total,carbon,ced,region
0,A.010.02.101.240318 Leather Chrome tanning - h...,agriculture,"Materials, agricultural, animal production",kg,Leather Chrome tanning - hides from Argentia,6.047973,15.911109,115.593600,Global
1,A.010.02.102.240318 Leather Vegetable tanning ...,agriculture,"Materials, agricultural, animal production",kg,Leather Vegetable tanning - hides from Europe,3.038588,17.967245,94.793388,Global
2,A.010.02.103.230701 Wool (from Australia trans...,agriculture,"Materials, agricultural, animal production",kg,Wool (from Australia transported to Rotterdam),12.144220,78.080353,61.672334,Global
3,A.010.02.104.230701 Wool at farm Australia,agriculture,"Materials, agricultural, animal production",kg,Wool at farm Australia,12.056206,77.760547,57.456901,Global
4,"A.010.02.105.230701 wool, greasy, at farm Aust...",agriculture,"Materials, agricultural, animal production",kg,"wool, greasy, at farm Australia",6.028103,38.880273,28.728451,Global

In [24]:
# save the df into the same file name
df.to_excel('/Users/rajatsharma/IBM-CarbonSense-powered-by-Watsonx/Data_processed/industry/agriculture.xlsx', index=False)

In [29]:
import pandas as pd
import os

def filter_industry_files(folder_path):
    # Columns to keep
    columns_to_keep = ['.', 'industry', '..2', 'process', 'carbon', 'region']

    # Loop through each file
    for filename in os.listdir(folder_path):
        if filename.endswith('.xlsx') and not filename.startswith('~$') and not filename.startswith('.'):
            file_path = os.path.join(folder_path, filename)

            try:
                # Read the Excel file with engine specified
                df = pd.read_excel(file_path, engine='openpyxl')

                # Filter columns
                df_filtered = df[[col for col in df.columns if col in columns_to_keep]]

                # Save filtered DataFrame
                df_filtered.to_excel(file_path, index=False, engine='openpyxl')
                print(f"✅ Processed: {filename}")

            except Exception as e:
                print(f"❌ Failed to process {filename}: {e}")

# Example usage
filter_industry_files('/Users/rajatsharma/IBM-CarbonSense-powered-by-Watsonx/Data_processed/electricity/')

✅ Processed: electricity USA.xlsx
✅ Processed: electricity Canada.xlsx
✅ Processed: electricity general industry.xlsx
✅ Processed: electricity China.xlsx
✅ Processed: electricity EU .xlsx
✅ Processed: electricity Rest of the World.xlsx
✅ Processed: electricity India.xlsx